<style>

body {background-color: coral;}
.home_container {
   
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


</style>

<h1>Mecanix</h1>

<%= link_to  "Login", login_path %> | <%= link_to  "Sign-Up", signup_path %>

</div>